html,
body {
    width: 100%;
    height: 100%;
}
header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url("images/Layer-3.png") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#logo{
    top: 44px;
    left: 46px;
    right: 660px;
    position: relative;
    width: 318px;
    height: 160px;
    background: url(images/Logo.png);
}

#banner{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 113px;
    color: white;
background-color: rgba(0, 0, 0, 0.15);
    padding: 20px 0 20px 0;
    text-align: center;
}